<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".connect.Scan"
            android:exported="false"
            android:label="@string/title_activity_scan"
            android:theme="@style/Theme.BanglePlugin" />
        <activity
            android:name=".connect.Permission"
            android:exported="false"
            android:label="@string/title_activity_permission"
            android:theme="@style/Theme.BanglePlugin" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BanglePlugin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.urbandroid.sleep.watch.START_TRACKING" />
                <action android:name="com.urbandroid.sleep.watch.STOP_TRACKING" />
                <action android:name="com.urbandroid.sleep.watch.SET_PAUSE" />
                <action android:name="com.urbandroid.sleep.watch.SET_SUSPENDED" />
                <action android:name="com.urbandroid.sleep.watch.SET_BATCH_SIZE" />
                <action android:name="com.urbandroid.sleep.watch.START_ALARM" />
                <action android:name="com.urbandroid.sleep.watch.STOP_ALARM" />
                <action android:name="com.urbandroid.sleep.watch.UPDATE_ALARM" />
                <action android:name="com.urbandroid.sleep.watch.SHOW_NOTIFICATION" />
                <action android:name="com.urbandroid.sleep.watch.HINT" />
                <action android:name="com.urbandroid.sleep.watch.CHECK_CONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>